/*
Theme Name: Holiday Unicorn
Theme URI: https://holidayunicorn.com
Description: Holiday Unicorn Theme
Author: Holiday Unicorn
Author URI: https://holidayunicorn.com
Template: salient
Version: 0.1
*/

/*Firefox Padding Issue, workaround is to use viewport width parameter*/
.wpb_row .span_12 > .col.padding-1-percent, .column-inner.padding-1-percent { padding: 1vw !important; }
.wpb_row .span_12 > .col.padding-2-percent, .column-inner.padding-2-percent { padding: 2vw !important;  }
.wpb_row .span_12 > .col.padding-3-percent, .column-inner.padding-3-percent { padding: 3vw !important;  }
.wpb_row .span_12 > .col.padding-4-percent, .column-inner.padding-4-percent { padding: 4vw !important;  }
.wpb_row .span_12 > .col.padding-5-percent, .column-inner.padding-5-percent { padding: 5vw !important;  }
.wpb_row .span_12 > .col.padding-6-percent, .column-inner.padding-6-percent { padding: 6vw !important;  }
.wpb_row .span_12 > .col.padding-7-percent, .column-inner.padding-7-percent { padding: 7vw !important;  }
.wpb_row .span_12 > .col.padding-8-percent, .column-inner.padding-8-percent { padding: 8vw !important; }
.wpb_row .span_12 > .col.padding-9-percent, .column-inner.padding-9-percent { padding: 9vw !important; }
.wpb_row .span_12 > .col.padding-10-percent, .column-inner.padding-10-percent { padding: 10vw !important; }
.wpb_row .span_12 > .col.padding-11-percent, .column-inner.padding-11-percent { padding: 11vw !important; }
.wpb_row .span_12 > .col.padding-12-percent, .column-inner.padding-12-percent { padding: 12vw !important; }
.wpb_row .span_12 > .col.padding-13-percent, .column-inner.padding-13-percent { padding: 13vw !important; }
.wpb_row .span_12 > .col.padding-14-percent, .column-inner.padding-14-percent { padding: 14vw !important; }
.wpb_row .span_12 > .col.padding-15-percent, .column-inner.padding-15-percent { padding: 15vw !important; }


/* General Styling */

body, p, em, b, strong {
  font-family: 'Varela Round', sans-serif !important;
}

p {
  font-size: 16px !important;
}

#header-secondary-outer {
  background: #4A148C !important;
  border-bottom: 1px solid #4A148C !important;
}

#header-secondary-outer nav >ul >li >a {
  border-left: none !important;
}

#header-secondary-outer nav >ul >li:last-child {
  border-right: none !important;
}
  @media only screen and (max-width: 1000px) and (min-width: 690px) {
    #header-secondary-outer nav > ul > li:last-child {
        border-right: none !important;
    }
  }

#header-secondary-outer #social i {
  color: #ffffff !important;
}

@media only screen and (max-width: 1000px) and (min-width: 1px) {
  #header-secondary-outer nav ul.sf-menu {
    display: none !important;
  }
}

#header-secondary-outer nav >ul >li.current-menu-item >a {
  color: #ff4081 !important;
}

#header-outer nav >ul >li >a:hover {
  color: #ff4081 !important;
}

#header-outer nav >ul >li.current-menu-item >a::after {
  border: none !important;
}

#header-outer nav >ul >li >a::after {
  border: none !important;
}

#header-secondary-outer nav >ul >li >a {
  color: #ffffff !important;
}

#header-secondary-outer nav >ul >li >a:hover {
  color: #ff4081 !important;
}

header#top nav >ul >li >a {
  color: #4A148C !important;
}

body[data-is="minimal"][data-header-color="light"] header#top nav ul #search-btn a span {
  color: #4A148C;
}

body.ascend #search-outer #search input[type="text"] {
  color: #4A148C !important;
  text-transform: none !important;
}

.menu-subtitle {
  display: block;
  float: right;
  font-size: 10px;
  margin-top: -8px;
}
@media only screen and (max-width: 1000px) {
  .menu-subtitle {
    float: none;
    font-size: 32px;
    margin-top: -10px;
  }
}

.swiper-slide .content h2 {
  font-family: "PT Sans", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

#footer-outer #footer-widgets .widget_sp_image img {
  width: 250px !important;
}

#footer-outer p {
  font-size: 12px !important;
}

/* Home  */

.nectar-recent-posts-slider .recent-post-container .inner-wrap {
  width: 70% !important;
  max-width: 70% !important;
}

.nectar-recent-posts-slider .recent-post-container .inner-wrap span {
  display: none !important;
}

.masonry-blog-item {
  width: 48%;
}
.large_featured {
  width: 98% !important;
}

.masonry.classic_enhanced article.post .excerpt {
  display: none;
}

.post-meta .meta-author {
  display: none;
}

.masonry.classic_enhanced .masonry-blog-item h3.title {
  display: block !important;
  width: 100% !important;
}

.masonry.classic_enhanced .masonry-blog-item .article-content-wrap {
  padding: 7% 17% !important;
  width: 100% !important;
}

#post-area.masonry.classic_enhanced article.post .post-featured-img img {
  width: 605px !important;
}

/*
body[data-button-style="rounded"] button {
  border-radius: 7px !important;
}
*/

.nectar-button,
body[data-button-style="rounded"] .nectar-button,
body[data-button-style="rounded"].ascend .container-wrap input[type="submit"] {
  /*border-radius: 5px !important;*/
  border: 0;
  font-family: Montserrat !important;
  letter-spacing: 1px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  padding: 16px 50px !important;
  text-transform: uppercase !important;
  cursor: pointer !important;

  background: -moz-linear-gradient( left ,
    rgba(255,64,129 ,1) 0%,
    rgba(124,77,255 ,1) 100%
  );
  background: -webkit-gradient(linear,  left top,  right top,
    color-stop(0%, rgba(255,64,129 ,1)),
    color-stop(100%, rgba(124,77,255 ,1))
  );
}

.nectar-button:hover,
body[data-button-style="rounded"] .nectar-button:hover,
body[data-button-style="rounded"].ascend .container-wrap input[type="submit"]:hover {
  background: -moz-linear-gradient( left ,
    rgba(255,64,129 ,1) 0%,
    rgba(124,77,255 ,1) 100%
  );
  background: -webkit-gradient(linear,  left top,  right top,
    color-stop(0%, rgba(197,17,98 ,1)),
    color-stop(100%, rgba(98,0,234 ,1))
  );
}

.nectar-slider-wrap[data-full-width="false"] .swiper-slide .button a {
  /*border-radius: 5px !important;*/
  border: 0;
  font-family: Montserrat !important;
  letter-spacing: 1px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  padding: 10px 50px !important;
  text-transform: uppercase !important;
  cursor: pointer !important;
  margin-top: 20px !important;

  background: -moz-linear-gradient( left ,
    rgba(255,64,129 ,1) 0%,
    rgba(124,77,255 ,1) 100%
  );
  background: -webkit-gradient(linear,  left top,  right top,
    color-stop(0%, rgba(255,64,129 ,1)),
    color-stop(100%, rgba(124,77,255 ,1))
  );
}

.nectar-slider-wrap[data-full-width="false"] .swiper-slide .button a:hover {
  background: -moz-linear-gradient( left ,
    rgba(255,64,129 ,1) 0%,
    rgba(124,77,255 ,1) 100%
  );
  background: -webkit-gradient(linear,  left top,  right top,
    color-stop(0%, rgba(197,17,98 ,1)),
    color-stop(100%, rgba(98,0,234 ,1))
  );
}

.meta-category {
  display: none !important;
}

body[data-button-style="rounded"] #page-header-bg[data-post-hs="default_minimal"] .inner-wrap >a {
  display: none !important;
}

#post-area.masonry.classic_enhanced article.post .post-meta {
  padding: 0 !important;
}

.nectar-fancy-box:hover .box-bg:after{
    background-color: rgba(51,51,51,0.42) !important;
    visibility: visible !important;
}

.meta-comment-count {
  padding-left: 20px !important;
  margin-bottom: 10px !important;
}

.blog-recent {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.blog-recent[data-style*="classic_enhanced"] .article-content-wrap {
    padding: 17% 17% 28% 17% !important;
}

.blog-recent[data-style*="classic_enhanced"] .post-header .meta {
  display: none !important;
}

.single #page-header-bg #single-below-header .meta-date {
  display: none !important;
}

.blog-recent .deal-button {
  margin-right: 0 !important;
  margin-top: 10px !important;
}

.blog-recent .post-meta {
  border-top: 0 !important;
  padding: 0 !important;
}

.deal-button {
  padding: 20px 17% !important;
}

.deal-link {
  width: 100% !important;
}

.show-deal-button {
  display: block;
  /*border-radius: 2px !important;*/
  border: 0;
  width: 100% !important;
  font-family: Montserrat !important;
  letter-spacing: 1px !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: #ffffff !important;
  padding: 16px 20px !important;
  text-transform: uppercase !important;
  cursor: pointer !important;

  background: -moz-linear-gradient( left ,
    rgba(255,64,129 ,1) 0%,
    rgba(124,77,255 ,1) 100%
  );
  background: -webkit-gradient(linear,  left top,  right top,
    color-stop(0%, rgba(255,64,129 ,1)),
    color-stop(100%, rgba(124,77,255 ,1))
  );
}

.show-deal-button:hover {
  background: -moz-linear-gradient( left ,
    rgba(255,64,129 ,1) 0%,
    rgba(124,77,255 ,1) 100%
  );
  background: -webkit-gradient(linear,  left top,  right top,
    color-stop(0%, rgba(197,17,98 ,1)),
    color-stop(100%, rgba(98,0,234 ,1))
  );
}

#post-area.masonry #pagination {
  margin-top: 30px !important;
  position: relative !important;
  bottom: 0 !important;
}

@media only screen and (max-width: 1000px) and (min-width: 690px) {
  #post-area.masonry #pagination {
    bottom: 0 !important;
  }
}

@media only screen and (max-width: 690px) {
  #post-area.masonry #pagination {
    bottom: 0 !important;
  }
}

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap:hover:before {
    background-color: rgba(255, 64, 129, 0.9) !important;
}

.instagram .wpb_text_column >.wpb_wrapper >*:last-child {
  margin-bottom: -1px !important;
}

.instashow-gallery-media-cover {
    background: rgba(255,64,129, 0.9) !important;
}

.container-wrap {
  padding-bottom: 0 !important;
}

/* Single Deal */

.nectar-fancy-box {
  padding: 70px 13% 50px !important;
}

.nectar-fancy-box .inner {
  padding-bottom: 0 !important;
}

.nectar-fancy-box .inner h3 {
  text-align: center !important;
  padding-bottom: 20px !important;
}

.nectar-button[data-color-override="false"].regular-button {
  text-align: center;
  margin: 30px auto !important;
}

.post-pictures img {
  padding-bottom: 20px !important;
}

.single #single-below-header >span:nth-child(1) {
  display: none !important;
}

.single #single-below-header >span:nth-child(2) {
  border-left: none !important;
}

.row .col.section-title {
  border-bottom: 0 !important;
}

.post-content p {
  text-align: left !important;
}

.post-content ul li {
  list-style-position: inside !important;
  padding-left: 20px !important;
}

/* Request a Deal */

@media screen and (min-width: 1001px) {
  .request-deal-text {
    padding-right: 50px !important;
  }
}

.wpcf7-submit {
  margin-top: 20px !important;
}

.post-password-form .minimal-form-input {
  margin-bottom: 50px !important;
}

.comments-section .nocomments {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  text-align: center !important;
}

/* Deals */

#post-area.masonry.classic_enhanced article.post .post-meta>* {
  margin-right: 0 !important;
}

.meta-comment-count {
  padding-left: 0 !important;
  display: none !important;
}

/* Blog */

.essb-postbar-titleholder h2 {
  margin-top: 5px !important;
  font-family: "Varela Round", sans-serif !important;
  font-weight: 400 !important;
  color: #2f2f2f !important;
}

.essb-postbar-progress-bar {
  background-color: #4A148C !important;
}

.cp-error-msg {
  font-family: "PT Sans", sans-serif !important;
}

.nectar-recent-posts-slider {
  margin-top: -40px !important;
}

.blog-recent[data-style*="classic_enhanced"] .excerpt {
  display: none !important;
}

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-meta {
  display: none !important;
}

body[data-form-style="minimal"] .minimal-form-input label span.text .text-inner {
  color: #2f2f2f !important;
}

.wpcf7-form p span.form-file-label {
  color: #2f2f2f !important;
  font-size: 14px !important;
}

code {
  white-space: normal !important;
  font-size: 14px !important;
}
